img {
    width: 400px;
    border-radius: 20px;
}

.receita {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-border);
    padding: 20px;
    border-radius: 20px;
}

strong {
    font-weight: bold;
}

.tabela {
    width: 100%;
    text-align: center;
}

.tabela th,
.tabela td {
    border: 1px solid var(--color-border);
    padding: 8px;
}

.tabela th {
    background-color: #f2f2f2;
}

.tabela tr:hover {
    background-color: #e0f7fa;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe__page {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

button {
    background: none;
    border: none;
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-border);
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
}

input {
    padding: 7px;
    border-radius: 5px;
    width: 250px;
    border: 1px solid var(--color-border);
}

label {
    font-size: 14px;
    font-weight: 400;
}

h2 {
    margin-bottom: 20px;
}

input::placeholder {
    font-family: var(--font-primary);
}