div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-weight: bold;
}

.ancora {
    all: unset;
    background: none;
    border: none;
    font-weight: bold;
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-border);
}

.ancora:hover {
    cursor: pointer;
}